<div>
  <h2>Create Event</h2>
  <form (submit)="saveEvent()">
    <div>
      <label>Title:</label>
      <input type="text" [(ngModel)]="event.title" name="title" required />
    </div>
    <div>
      <label>Date & Time:</label>
      <input
        type="datetime-local"
        [(ngModel)]="event.dateTime"
        name="dateTime"
        required
      />
    </div>
    <button type="submit">Save</button>
  </form>
</div>
