<body>
  <div class="about-section">
      <div class="inner-container">
          <h1>About Us</h1>
          <p class="text">
             <b>Welcome to TalentTrek, where learning meets fun!</b><br/>
             "At Talent Trek, our mission is simple: to make learning fun and accessible to all. Our
              team is driven by a shared enthusiasm for education and entertainment, and we're constantly 
              striving to create an experience that not only challenges the mind but also brings joy to the heart.
               Whether you're a seasoned quizzer or just dipping your toes into the world of trivia, we invite you
                to explore our app and embark on a journey of discovery with us. With new quizzes added 
                regularly and a vibrant community to connect with, there's always something exciting waiting for
                 you at TalentTrek."
          </p>
      </div>
  </div>
</body>

