<body>
    <div class ="contact-form">
        <h1>Contact Us</h1>
        <div class="container">
            <div class="main">
                <div class = "content">
                    <h2>Contact Us</h2>
                    <form action="#" method="post">
                        <input type="text" name="name" placeholder="Enter your Name">

                        <input type="email" name="name" placeholder="Enter your Email">
                        <textarea name="message" placeholder="your Message"></textarea>
                        <button type ="submit" class ="btn">Send <i class ="fas fa-paper-plane"></i></button>
                    </form>
                </div>
                <div class="form-img">
                    <img src="../../assets/image5.jpg"alt="">
                </div>
            </div>
        </div>
    </div>
</body>
