*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.contact-form{
    position:relative;
    min-height: 100vh;
    z-index: 0;
    background:white;
    padding: 30px;
    justify-content: center;
    display: grid;
    grid: template rows 1fr auto 1fr ;
    align-items: center;
}
.container{
    max-width: 700px;
    margin-top: 0 auto;
}
.contact-form h1{
    text-align: center;
    font-size: 2,5rem;
    font-weight: 400;
    color: #fff;
    font-family: 'poppins';
}
.contact-form h2{
    line-height: 40px;
    margin-bottom: 5px;
    font-size: 2.5rem;
    font-weight: 500;
    color: #2e937a;
    text-align: center;
}
.contact-form .main{
    position: relative;
    display: flex;
    margin: 30px;
}
.content{
    flex-basis:50%;
    padding: 3rem 3rem;
    background: #fff;
    box-shadow: 2px 9px 49px -17px rgba(0,0,0,0.1);
    border-top-left-radius: 8px;
    border-top-left-radius: 8px;

}
.form-image{
    flex-basis: 50%;
    background: #f0f4f8;
    padding: 40px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    align-items: center;
    display: grid;

}
.form-img img{
    max-width: 100%;

}
.btn,
button,
input{
    border-radius: 35px;

}
.btn:hover,
button:hover{
    color: #2e937a;
    transition: 0.5s ease;
}
.contact-form form{
    margin:30px 0;
}
.contact-form input,
textarea{
    outline: none;
    margin-bottom: 15px;
    font-stretch: 16px;
    color: #999;
    padding: 14px 20px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    border: none;
    background: #fcfcfc;
    transition: 0.3s ease;
}
.contact-form input:focus{
    background: transparent;
    border: 1px solid#2e937a;
}
.contact-form button{
    font-size: 18px;
    color:#fff;
    width: 100%;
    background:#2e937a;
    font-weight: 600;
    transition: 0.3s ease;
    padding: 14px 15px;
}


 