<!-- <app-event-form></app-event-form>
<app-job-seeker /> -->
<!-- <app-event-list /> -->
<!-- <app-register /> -->
<router-outlet></router-outlet>
<!-- <app-employer-login></app-employer-login> -->
<!-- <app-employer-dashboard /> -->
