<div>
  <h2>Event List</h2>
  <ul>
    <li *ngFor="let event of events">
      <strong>Title:</strong> {{ event.title }}<br />
      <strong>Date & Time:</strong> {{ event.dateTime }}
    </li>
  </ul>
</div>
