<body>
    <h2>FEATURES</h2>
    <h1> Our Features & Services.</h1>
    <div class="row">
        <div class="box">
            <img src="../../assets/image1.jpg">
            <h3>Interactive Learning</h3>
            <p>Empower users to engage actively in their learning journey through<br>hands-on 
                activities, quizzes, and practical exercises.</p>
            <button class="btn">See More</button>
        </div>

        <div class="box">
            <img src="../../assets/image2.jpg">
            <h3>Skill Assessment</h3>
            <p>Offer skill evaluation quizzes <br>Provide detailed performance feedback.<br></p>
            <button class="btn">See More</button>
        </div>
        <div class="box">
            <img src="../../assets/image3.jpg">
            <h3>Professional Networking</h3>
            <p>Facilitate industry networking<br>Enable connection with potential employers. <br></p>
            <button class="btn">See More</button>
        </div>
    </div>
</body>
