<head>
  <meta charset="utf-8" />
  <title>Project</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="" name="keywords" />
  <meta content="" name="description" />

  <!-- Favicon -->
  <link href="img/favicon.ico" rel="icon" />

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&display=swap"
    rel="stylesheet"
  />

  <!-- Icon Font Stylesheet -->
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
    rel="stylesheet"
  />
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
    rel="stylesheet"
  />

  <!-- Customized Bootstrap Stylesheet -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" />

  <!-- Template Stylesheet -->
  <link href="/css/style.css" rel="stylesheet" />
</head>
<body>
  <section
    class="vh-100 bg-image"
    style="background-image: url('../../assets/images/home3.png')"
  >
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
      <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="card" style="border-radius: 15px">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center mb-5">
                  Job Seeker Registration
                </h2>

                <form>
                  <div class="form-outline mb-4">
                    <input
                      type="text"
                      id="name"
                      class="form-control form-control-lg"
                      placeholder="Your Name"
                    />
                  </div>
                  <div class="form-outline mb-4">
                    <input
                      type="tel"
                      id="phoneNumber"
                      class="form-control form-control-lg"
                      placeholder="Your Mobile Number (10 digits)"
                    />
                  </div>
                  <div class="form-outline mb-4">
                    <input
                      type="email"
                      id="email"
                      class="form-control form-control-lg"
                      placeholder="Your Email"
                    />
                  </div>
                  <div class="form-outline mb-4">
                    <input
                      type="text"
                      id="qualification"
                      class="form-control form-control-lg"
                      placeholder="Your Qualification"
                    />
                  </div>
                  <div class="form-outline mb-4">
                    <input
                      type="text"
                      id="course"
                      class="form-control form-control-lg"
                      placeholder="Enter Course"
                    />
                  </div>
                  <div class="form-outline mb-4">
                    <input
                      type="text"
                      id="college"
                      class="form-control form-control-lg"
                      placeholder="Your College"
                    />
                  </div>
                  <div class="form-outline mb-4">
                    <input
                      type="password"
                      id="password"
                      class="form-control form-control-lg"
                      placeholder="Password (min 8 characters with 1 uppercase, 1 lowercase, 1 digit, 1 special character)"
                    />
                  </div>
                  <div class="form-outline mb-4">
                    <input
                      type="password"
                      id="confirmPassword"
                      class="form-control form-control-lg"
                      placeholder="Confirm your password"
                    />
                  </div>

                  <div class="form-check d-flex justify-content-center mb-5">
                    <input
                      class="form-check-input me-2"
                      type="checkbox"
                      value=""
                      id="terms"
                    />
                    <label class="form-check-label" for="terms">
                      I agree all statements in
                      <a href="#!" class="text-body"><u>Terms of service</u></a>
                    </label>
                  </div>

                  <div class="d-flex justify-content-center">
                    <button
                      type="submit"
                      class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
                    >
                      Register
                    </button>
                  </div>

                  <p class="text-center text-muted mt-5 mb-0">
                    Have already an account?
                    <a href="#!" class="fw-bold text-body"><u>Login here</u></a>
                  </p>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
